<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#f13908">

  <!-- <meta property="fb:app_id" content="301375193309601"> -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Tika taka">
  <meta property="og:description" content="My heart rate data">
  <meta property="og:image" content="https://danesjenovdan.si/dajmir/img/og-image.png">

  <meta name="twitter:creator" content="@filipdobranic">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Tika taka">
  <meta name="twitter:description" content="My heart rate data ...">
  <meta name="twitter:image" content="https://danesjenovdan.si/dajmir/img/og-image.png">

  <meta name="author" content="@filipdobranic">
  <meta name="description" content="My heart rate data">
  <title>Tika taka</title>

  <link rel="stylesheet" href="/static/dygraph.css" />
</head>

<body>
  <script src="/static/dygraph.js"></script>

  {% block content %}{% endblock %}

</body>
</html>
